.img-views {
    &__wrapper {
        display: flex;
        background-color: #012323;
        padding: 10px;
        margin-bottom: 30px;
    }
    &__item {
        width: 50%;
        max-height: 400px;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 10px;
        margin: 5px;
    }
}
