.settings-box {
    display: flex;
    &__item {
        width: 30%;
        text-align: left;
    }
}
.custom {
    &-input {
        margin-bottom: 10px;
    }
    &-label {
        display: block;
        margin-bottom: 5px;
    }
}